<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HeTao.mapper.BrandMapper">
<!--    映射表，因为mysql中和Brand类中使用的名称不同-->
    <resultMap id="brandResultMap" type="brand">
        <result column="brand_name" property="brandName"></result>
        <result column="company_name" property="companyName"></result>
    </resultMap>

<!--    <insert id="selectAll" parameterType="com.HeTao.pojo.Brand">-->
<!--        select *  from  school.tb_brand;-->
<!--    </insert>-->

</mapper>